/*confetti*/
#confetti-canvas {
	position: absolute;
	z-index: 9998;
	width: 100%;
	height: 100%;
	pointer-events: none !important;
}

/*fireworks*/
.firework {
	position:fixed;
	z-index:9999;
	pointer-events: none;
	width: 100% !important;
	height: 100% !important;
	pointer-events: none !important;
}

.firework img {
	max-width: 15rem;
}

/*ricardo*/
.ricardo {
	position: fixed;
	z-index: 9997;
	pointer-events: none !important;
}

.ricardo img {
	max-height:15rem;
}

.ricardoleft {
	animation: ricardoleft 2.9s 2 alternate !important;
}

.ricardoright {
	animation: ricardoright 2.9s 2 alternate !important;
}

@keyframes ricardoleft {
	from {left:-10%;}
	to {left:10%;}
}

@keyframes ricardoright {
	from {left:100%;}
	to {left:80%;}
}

#ricardo1 {
	top:70%;
	left:-10%;
}

#ricardo2 {
	top:80%;
	left:50%;
	animation: ricardo2 1.7s linear infinite !important;
}

#ricardo3 {
	top:85%;
	animation: ricardo3 5s linear infinite alternate !important;
}

@keyframes ricardo2 {
	0% {opacity:20%}
	50% {opacity:100%}
	100% {opacity:0%}
}

@keyframes ricardo3 {
	from {left:0}
	to {left:90%}
}

@media (max-width: 768px) {
	#ricardo2, #ricardo3 {
		display:none !important;
	}
}
