.bug, .train, .seal, .firework, #post-award-confetti, .ricardo {
	display: none !important
}

.glow * {
	color: var(--black) !important;
	text-shadow: none !important
}

#post-root, .comment-anchor {
	animation-name: none !important
}

* :not(img[src="/i/hand.webp"] + img):not(img.golden, img[g], img[glow]) {
	animation: unset !important;
}